@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Partial requests</h1>
    <p class="lead">This is a sample to use partial requests dynamically with cached requests.</p>
</div>

<div class="row">
    <p>The biggest problem with this solution is <a href="http://stackoverflow.com/questions/14687106/registering-javascript-css-files-within-partial-views-with-output-caching-only">stated here</a>.</p>
</div>

<div class="row">
    @{
        Html.RenderAction("ActionResult");
    }
</div>